<!DOCTYPE html>
<html>
<head>

    <link href="../JS_CSS/css/jquery_ui.css" rel="stylesheet" />
    <link href="../JS_CSS/css/ui.jqgrid.css" rel="stylesheet" />
    <link href="../JS_CSS/css/CSS1.css" rel="stylesheet" />

    <script src="../JS_CSS/js/jquery.js"></script>
    <script src="../JS_CSS/js/jquery-ui.js"></script>
    <!--<script src="../JS_CSS/js/jquery-ui.min.js"></script>-->
    <script src="../JS_CSS/js/jquery.jqGrid.min.js"></script>
    <script src="../JS_CSS/js/Home.js"></script>

    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <header></header>
    <div id='entete_div_id1' class='entete_div_cl1'>
        <nav id='nav_id1' class='nav_cl1'>
            <ul id='ul_id1' class='ul_cl1'>

                <li id='li_id1' class="li_cl1"><a href='#AddItem'>Add Item</a></li>
                <li id='li_id2' class="li_cl1"><a href='#Lavoro'>LAVORO</a></li>
                <li id='li_id3' class="li_cl1"><a href='#Ordine'>ORDINE</a></li>
                <li id='li_id4' class="li_cl1"><a href='#Logout'>LOG OUT</a></li>


            </ul>

            <article id='AddItem' class='article_cl'>
                <p id='utenteSaluto'>  </p>
               
                <article id='divcontenutoId'>
                    

                </article>

                <p id='btcontenutoId'></p>

            </article>
            <article id='Lavoro' class='article_cl'></article>
            <article id='Ordine' class='article_cl'></article>
            <article id='Logout' class='article_cl'></article>
        </nav>

    </div>
    <footer></footer>
</body>
</html>