<!DOCTYPE html>
<html>
<head>
    <link href="../JS_CSS/css/jquery_ui.css" rel="stylesheet" />
    <link href="../JS_CSS/css/ui.jqgrid.css" rel="stylesheet" />
    <link href="../JS_CSS/css/CSS1.css" rel="stylesheet" />
    
    <script src="../JS_CSS/js/jquery.js"></script>
    <script src="../JS_CSS/js/jquery-ui.min.js"></script>
    <script src="../JS_CSS/js/jquery.jqGrid.min.js"></script>
    <script src="../JS_CSS/js/Index.js"></script>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <header>

    </header>
    <article>
        <section id="section_Index_id" class="section_Index_cl">
            
            
        </section>

    </article>
    <footer>

    </footer>
</body>
</html>